body {
	background-color: #CCC;
	margin: 80px;
}

form select {
	background: #FFFFFF;
	width: 100%;
}

.inputForm {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#fixedheader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #CCC;
	background: #333;
	padding: 8px;
}